<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wynn.dao.wynnzuo.BittestMapper" >
  <resultMap id="BaseResultMap" type="com.wynn.model.wynnzuo.Bittest" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="a" property="a" jdbcType="BIT" />
  </resultMap>
</mapper>